[run]
branch = true
source = backend
parallel = true
omit =
    */tests/*
    */venv*/*
    */__pycache__/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if TYPE_CHECKING:
    @abstractmethod
