<!-- Modals & Floating Components -->
{% include 'layouts/partials/modals/_modal_test_generator.html' %}
{% include 'layouts/partials/modals/_modal_automation.html' %}
{% include 'layouts/partials/modals/_modal_notification.html' %}
{% include 'layouts/partials/modals/_modal_image_editor.html' %}
{% include 'layouts/partials/modals/_modal_terminal.html' %}
{% include 'layouts/partials/modals/_modal_diff.html' %}
{% include 'layouts/partials/modals/_modal_swarm.html' %}
{% include 'layouts/partials/modals/_modal_benchmark.html' %}
{% include 'layouts/partials/modals/_modal_hil.html' %}
{% include 'layouts/partials/modals/_modal_confirm.html' %}
