{% extends "base.html" %}

{% block title %}Ollash - Local IT Agent{% endblock %}

{% block content %}
    {% include 'pages/chat.html' %}
    {% include 'pages/architecture.html' %}
    {% include 'pages/docs.html' %}
    {% include 'pages/costs.html' %}
    {% include 'pages/create_project.html' %}
    {% include 'pages/projects.html' %}
    {% include 'pages/benchmark.html' %}
    {% include 'pages/automations.html' %}
    {% include 'pages/brain.html' %}
    {% include 'pages/plugins.html' %}
    {% include 'pages/settings.html' %}
    {% include 'pages/prompts.html' %}
    {% include 'pages/audit.html' %}
    {% include 'pages/knowledge.html' %}
    {% include 'pages/tuning.html' %}
    {% include 'pages/policies.html' %}
    {% include 'pages/fragments.html' %}
    {% include 'pages/cicd.html' %}
    {% include 'pages/hil.html' %}
{% endblock %}
